<body>
<div id="wrap">
    <div id="top">
      <h1 id="sitename">Wayang <em>Motor's</em> Website</h1>
      </div>
    </div>
 
    <div id="menu">
        <ul>
            <li><a href="index"><span>Home</span></a></li>
            <li><a href="honda"><span>Honda</span></a></li>
            <li><a href="suzuki"><span>Suzuki</span></a></li>
            <li><a href="yamaha"><span>Yamaha</span></a></li>
            <li><a href="kawasaki"><span>Kawasaki</span></a></li>
            <li><a href="reserve"><span>Pemesanan</span></a></li>
        </ul>
      </div>
</body>