<div id="contentwrap">
    <div id="header"> </div>
    <div id="mainpage">
      <div id="threecolumns">
        <div class="col1">
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2><a>Kawasaki KSR Pro</a></h2>
                <img src="images/Kawasaki KSR Pro.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 111 cc</p>
                <p>Tenaga Maksimal	: 8.48 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Analog</p>
                <p>Indikator Bbm	: Analog</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 30,8 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Ninja 250</h2>
                <img src="images/Kawasaki Ninja 250.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 249 cc</p>
                <p>Tenaga Maksimal	: 38.46 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 67,8 - Rp 77,1 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Ninja H2</h2>
                <img src="images/Kawasaki Ninja H2.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 998 cc</p>
                <p>Tenaga Maksimal	: 212.28 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 679 - Rp 820 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Ninja ZX-25R</h2>
                <img src="images/Kawasaki Ninja ZX-25R.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 249.8 cc</p>
                <p>Tenaga Maksimal	: 51 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: B&C</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>harga 		: Rp 96 - Rp 112,9 Juta </p>                               
            </div>
            <div class="ftbox2"></div>
          </div>
        </div>
        <div class="col2">
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2><a>Kawasaki Ninja ZX-6R</a></h2>
                <img src="images/Kawasaki Ninja ZX-6R.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 636 cc</p>
                <p>Tenaga Maksimal	: 134 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 315,7 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Z250</h2>
                <img src="images/Kawasaki Z250.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 249 cc</p>
                <p>Tenaga Maksimal	: 31.5 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digita</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga		: Rp 53,9 - Rp 54,7 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Ninja ZX10-R</h2>
                <img src="images/Kawasaki Ninja ZX10-R.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 998 cc</p>
                <p>Tenaga Maksimal	: 210 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga		: Rp 492 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Versys X 250</h2>
                <img src="images/Kawasaki Versys X 250.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 249 cc</p>
                <p>Tenaga Maksimal	: 33.5 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 63,7 - Rp 73,1 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
        </div>
        <div class="col3">
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2><a>Kawasaki Vulcan S</a></h2>
                <img src="images/Kawasaki Vulcan S.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 649 cc</p>
                <p>Tenaga Maksimal	: 62 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 185,5 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki W175</h2>
                <img src="images/Kawasaki W175.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 177 cc</p>
                <p>Tenaga Maksimal	: 12.82 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: DC-CDI</p>
                <p>Panel Instrumen	: Analog</p>
                <p>Indikator Bbm	: Analog</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 29,9 - Rp 33,8 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki W800</h2>
                <img src="images/Kawasaki W800.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 773 cc</p>
                <p>Tenaga Maksimal	: 47.34 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 251 - Rp 296 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Kawasaki Z125 PRO</h2>
                <img src="images/Kawasaki Z125 PRO.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 125 cc</p>
                <p>Tenaga Maksimal	: 9.25 hp</p>
                <p>Opsi start		: Electric</p>
                <p>Sistem pembakaran	: Digital</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 34,1 - Rp 34,8 Juta</p>                
            </div>
            <div class="ftbox2"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>