<div id="contentwrap">
    <div id="header"> </div>
    <div id="mainpage"></div>
    <div class="post">
        <h2>Formulir</h2>
            <form action="#">
                <div class="formstyle">
                <label for="name">Nama:</label>
                <input class="text_field" name="Nname" id="name" type="text" />
                <label for="email">email:</label>
                <input class="text_field" id="email" name="email" type="text" />
                <label for="Age">Nama Showroom:</label>
                <input class="text_field" name="Age" id="Age" type="text" />
                <label for="Age">Motor:</label>
                <input class="text_field" name="Age" id="Age" type="text" />
                <label for="Submit"><span class="hide">Submit</span></label>
                <input name="Submit" type="button" id="Submit" class="submitbutton" value="Submit" />
                </div>
            </form>
            <p> </p>
    </div>
    