<div id="contentwrap">
    <div id="header"> </div>
    <div id="mainpage">
      <div id="threecolumns">
        <div class="col1">
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2><a>Yamaha Jupiter MX</a></h2>
                <img src="images/Yamaha Jupiter MX.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 150 cc</p>
                <p>Tenaga Maksimal	: 15.15 hp</p>
                <p>Opsi start		: Kick & Electric</p>
                <p>Sistem pembakaran	: TCI</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: CVT</p>
                <p>Harga 		: Rp 18,9 Juta</p>                
   
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha Jupiter Z1</h2>
                <img src="images/Yamaha Jupiter Z1.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 113.7 cc</p>
                <p>Tenaga Maksimal	: 9.92 hp</p>
                <p>Opsi start		: Kick & Electric</p>
                <p>Sistem pembakaran	: TCI</p>
                <p>Panel Instrumen	: Analog</p>
                <p>Indikator Bbm	: Analog</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 18,11 Juta</p>                
                <span class="readmore"><a href="#">Read More</a></span> </div>
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha MX King</h2>
                <img src="images/Yamaha MX King.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 150 cc</p>
                <p>Tenaga Maksimal	: 15.15 hp</p>
                <p>Opsi start		: Kick & Electric</p>
                <p>Sistem pembakaran	: TCI</p>
                <p>Panel Instrumen	: Digital</p>
                <p>Indikator Bbm	: Digital</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>harga 		: Rp 24,08 Juta</p>                
           
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha VEGA FORCE</h2>
                <img src="images/Yamaha VEGA FORCE.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>Kapasitas		: 115 cc</p>
                <p>Tenaga Maksimal	: 8.58 hp</p>
                <p>Opsi start		: Kick & Electric</p>
                <p>Sistem pembakaran	: TCI</p>
                <p>Panel Instrumen	: Analog</p>
                <p>Indikator Bbm	: Analog</p>
                <p>Jenis Transmisi	: Manual</p>
                <p>Harga 		: Rp 16,66 Juta</p>                
               
            </div>
            <div class="ftbox2"></div>
          </div>
        </div>
        <div class="col2">
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
              
                <img src="images/6.Yamaha Nmax.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p> 
                    Kapasitas :	155 cc<br>
                    Tenaga Maksimal :	15.1 hp<br>
                    Opsi start :	Electric<br>
                    Sistem pembakaran :	TCI<br>
                    Panel Instrumen :	Digital<br>
                    Indikator Bbm :	Digital<br>
                    Jenis Transmisi :	CVT<br>
                    Harga OTR : 	Rp 29,75 Juta*</p>
            
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha Aerox 155VVA</h2>
                <img src="images/7.Yamaha Aerox 155VVA.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p> 
                  Kapasitas :	155.1 cc<br>
                  Tenaga Maksimal :	14.75 hp<br>
                  Opsi start :	Electric<br>
                  Sistem pembakaran :	TCI<br>
                  Panel Instrumen :	Digital<br>
                  Indikator Bbm :	Digital<br>
                  Jenis Transmisi :	CVT <br>    
                  Harga OTR :	Rp 24,8 Juta*</p>
             
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha Mio M3 125</h2>
                <img src="images/8.Yamaha Mio M3 125.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p> 
                  Kapasitas :	125 cc<br>
                  Tenaga Maksimal :	9.38 hp<br>
                  Opsi start :	Kick & Electric<br>
                  Sistem pembakaran :	TCI<br>
                  Panel Instrumen :	Digital<br>
                  Indikator Bbm :	Analog<br>
                  Jenis Transmisi	CVT<br>
                  Harga OTR :	Rp 16,35 Juta*</p>
             
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha Fino 125</h2>
                <img src="images/9.Yamaha Fino 125.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p> 
                    Kapasitas :	125 cc<br>
                    Tenaga Maksimal :	9.38 hp<br>
                    Opsi start :	Kick & Electric<br>
                    Sistem pembakaran :	TCI<br>
                    Panel Instrumen :	Analog<br>
                    Indikator Bbm :	Analog<br>
                    Jenis Transmisi :	CVT<br>
                    Harga OTR :	Rp 18,74 Juta*</p>
             
            </div>
            <div class="ftbox2"></div>
          </div>
        </div>
        <div class="col3">
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2><a>Yamaha FreeGo</a></h2>
                <img src="images/10.Yamaha FreeGo.png" width="270" height="140" alt="" class="hboxthumb" />
                <p>
                  Kapasitas :	125 cc<br>
                  Tenaga Maksimal :	9.38 hp<br>
                  Opsi start :	Kick & Electric<br>       
                  Sistem pembakaran :	TCI<br>
                  Panel Instrumen :	Digital<br>
                  Indikator Bbm :	Digital<br>
                  Jenis Transmisi :	Automatic<br>
                  Harga OTR :	Rp 19,28 Juta*</p>
        
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha R6</h2>
                <img src="images/Yamaha R6.jfif" width="270" height="140" alt="" class="hboxthumb" />
                <p>
                  Kapasitas :	599 cc<br>
                  Tenaga Maksimal :	122 hp<br>
                  Opsi start :	Electric<br>
                  Sistem pembakaran :	TCI<br>
                  Panel Instrumen :	Digital<br>
                  Indikator Bbm :	Digital<br>
                  Jenis Transmisi :	Manual<br>
                  Harga OTR :	Rp 270 Juta*
                </p>
           
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha WR155 R</h2>
                <img src="images/Yamaha WR155 R.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>
                  Kapasitas :	155 cc<br>
                  Tenaga Maksimal :	16.4 hp<br>
                  Opsi start :	Electric<br>
                  Sistem pembakaran :	TCI<br>
                  Panel Instrumen :	Digital<br>
                  Indikator Bbm :	Digital<br>
                  Jenis Transmisi :	Manual<br>
                  Harga OTR :	Rp 36,9 Juta*
                </p>
              
            </div>
            <div class="ftbox2"></div>
          </div>
          <div class="ftbox">
            <div class="ftbox1"></div>
            <div class="ftcontent">
              <div class="post">
                <h2>Yamaha XSR 155</h2>
                <img src="images/Yamaha XSR 155.jpg" width="270" height="140" alt="" class="hboxthumb" />
                <p>
                  Kapasitas :	155 cc<br>
                  Tenaga Maksimal :	16.4 hp<br>
                  Opsi start :	Electric<br>
                  Sistem pembakaran :	TCI<br>
                  Panel Instrumen :	Digital<br>
                  Indikator Bbm :	Digital<br>
                  Jenis Transmisi :	Manual<br>
                  Harga OTR :	Rp 36,58 Juta*
                </p>
           
            </div>
            <div class="ftbox2"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>